<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="firstName">First Name:</label>
        <input id="firstName" formControlName="firstName" />
        <div class="error-message" *ngIf="userForm.get('firstName')?.invalid && userForm.get('firstName')?.touched">
            First Name is required.
        </div>
    </div>

    <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input id="lastName" formControlName="lastName" />
        <div class="error-message" *ngIf="userForm.get('lastName')?.invalid && userForm.get('lastName')?.touched">
            Last Name is required.
        </div>
    </div>

    <div class="form-group">
        <label for="email">Email ID:</label>
        <input id="email" formControlName="email" />
        <div class="error-message" *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
            <ng-container *ngIf="userForm.get('email')?.errors?.['required']">
                Email is required.
            </ng-container>
            <ng-container *ngIf="userForm.get('email')?.errors?.['email']">
                Email must be in a valid format.
            </ng-container>
        </div>
    </div>

    <button type="submit" [disabled]="userForm.invalid">Add User</button>
</form>
