<header>
  <nav>
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About</a>
      </li>
      <li>
        <a routerLink="/crypto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Crypto</a>
      </li>
      <li>
        <a routerLink="/addUser" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Add User</a>
      </li>
    </ul>
  </nav>
</header>